### 사용 라이브러리

In [21]:
import numpy as np
import pandas as pd

# 그래프 관련 라이브러리
import matplotlib.pyplot as plt
import platform

# 한글 폰트 설정
if (platform.system() == 'Windows'):
    plt.rc('font', family='Malgun Gothic')
else:
    plt.rc('font', family='AppleGothic')

# 음수(-)가 깨지는 현상 방지
plt.rcParams['axes.unicode_minus'] = False

### 1.0 데이터 불러오기

In [70]:
df = pd.read_csv("지방자치단체_폐기물_처리시설_현황_소각시설(10-19).csv",encoding="CP949")
df2 = pd.read_csv("지방자치단체_폐기물_처리시설_현황_매립시설(10-19).csv",encoding="CP949")

### 1.5 Tidy Data

#### 1.5.1 소각시설 data

In [71]:
dic = {'강원':'강원도', '경기':'경기도', '경남':'경상남도', '경북':'경상북도', '광주':'광주광역시', '대구':'대구광역시', '대전':'대전광역시', '부산':'부산광역시', '서울':'서울특별시',
'세종':'세종특별자치시', '울산':'울산광역시', '인천':'인천광역시', '전남':'전라남도', '전북':'전라북도', '제주':'제주특별자치도', '충남':'충청남도', '충북':'충청북도', '제주도':'제주특별자치도'}

In [72]:
df.head(3)

,시도(1),2010,2010.1,2010.2,2010.3,2010.4,2010.5,2010.6,2010.7,2010.8,...,2019.12,2019.13,2019.14,2019.15,2019.16,2019.17,2019.18,2019.19,2019.20,2019.21
0,시도(1),시설수 (개소),시설용량 (톤/일),1일평균가동시간 (시간),처리량 (톤),설치비 (백만원),설치비 (백만원),설치비 (백만원),설치비 (백만원),연간유지관리비 (백만원),...,설치비 (백만원),연간유지관리비 (백만원),관리인원 (명),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal),에너지이용실태 (Gcal)
1,시도(1),소계,소계,소계,소계,계,국비,지방비,기타,소계,...,기타,소계,소계,에너지발생량,외부공급,외부공급,외부공급,자체 사용,자체 사용,자체 사용
2,시도(1),소계,소계,소계,소계,소계,소계,소계,소계,소계,...,소계,소계,소계,소계,소계,열공급,전력공급,소계,열사용,전력사용

In [73]:
for i in range(1, 180):
    if df.columns[i] == '2018':
        break
    if (df.columns[i][-2:] == '.4'):
        df.iloc[0][i] = ('설치비 (계)')
    elif (df.columns[i][-2:] == '.5'):
       df.iloc[0][i] = ('설치비 (국비)')
    elif (df.columns[i][-2:] == '.6'):
        df.iloc[0][i] = ('설치비 (지방비)')
    elif (df.columns[i][-2:] == '.7'):
       df.iloc[0][i] = ('설치비 (기타)')
    elif (df.columns[i][-3:] == '.10'):
        df.iloc[0][i] = ('총 에너지 발생량')
    elif (df.columns[i][-3:] == '.11'):
        df.iloc[0][i] = ('총 외부 공급 에너지')
    elif (df.columns[i][-3:] == '.12'):
        df.iloc[0][i] = ('외부공급(열)')
    elif (df.columns[i][-3:] == '.13'):
        df.iloc[0][i] = ('외부공급(전력)')
    elif (df.columns[i][-3:] == '.14'):
        df.iloc[0][i] = ('총 자체 사용 에너지')
    elif (df.columns[i][-3:] == '.15'):
        df.iloc[0][i] = ('자체사용(열)')
    elif (df.columns[i][-3:] == '.16'):
        df.iloc[0][i] = ('자체사용(전력)')
for i in range(137,158):
        # if (df.columns[i][-2:] == '.4'):
        #         df.iloc[0][i] = ('잔재물 발생 현황')
        # elif (df.columns[i][-2:] == '.5'):
        #         df.iloc[0][i] = ('잔재물(재활용)')
        # elif (df.columns[i][-2:] == '.6'):
        #         df.iloc[0][i] = ('잔재물(소각)')
        # elif (df.columns[i][-2:] == '.7'):
        #         df.iloc[0][i] = ('잔재물(매각)')
        if (df.columns[i][-2:] == '.8'):
            df.iloc[0][i] = ('설치비 (계)')
        elif (df.columns[i][-2:] == '.9'):
            df.iloc[0][i] = ('설치비 (국비)')
        elif (df.columns[i][-3:] == '.10'):
            df.iloc[0][i] = ('설치비 (지방비)')
        elif (df.columns[i][-3:] == '.11'):
            df.iloc[0][i] = ('설치비 (기타)')
        elif (df.columns[i][-3:] == '.14'):
            df.iloc[0][i] = ('총 에너지 발생량')
        elif (df.columns[i][-3:] == '.15'):
            df.iloc[0][i] = ('총 외부 공급 에너지')
        elif (df.columns[i][-3:] == '.16'):
            df.iloc[0][i] = ('외부공급(열)')
        elif (df.columns[i][-3:] == '.17'):
            df.iloc[0][i] = ('외부공급(전력)')
        elif (df.columns[i][-3:] == '.18'):
            df.iloc[0][i] = ('총 자체 사용 에너지')
        elif (df.columns[i][-3:] == '.19'):
            df.iloc[0][i] = ('자체사용(열)')
        elif (df.columns[i][-3:] == '.20'):
            df.iloc[0][i] = ('자체사용(전력)')
for i in range(158,180):
        # if (df.columns[i][-2:] == '.4'):
        #         df.iloc[0][i] = ('잔재물 발생 현황')
        # elif (df.columns[i][-2:] == '.5'):
        #         df.iloc[0][i] = ('잔재물(재활용)')
        # elif (df.columns[i][-2:] == '.6'):
        #         df.iloc[0][i] = ('잔재물(소각)')
        # elif (df.columns[i][-2:] == '.7'):
        #         df.iloc[0][i] = ('잔재물(매각)')
        # elif (df.columns[i][-2:] == '.8'):
        #         df.iloc[0][i] = ('잔재물(기타)')
        if (df.columns[i][-2:] == '.9'):
            df.iloc[0][i] = ('설치비 (계)')
        elif (df.columns[i][-3:] == '.10'):
            df.iloc[0][i] = ('설치비 (국비)')
        elif (df.columns[i][-3:] == '.11'):
            df.iloc[0][i] = ('설치비 (지방비)')
        elif (df.columns[i][-3:] == '.12'):
            df.iloc[0][i] = ('설치비 (기타)')
        elif (df.columns[i][-3:] == '.15'):
            df.iloc[0][i] = ('총 에너지 발생량')
        elif (df.columns[i][-3:] == '.16'):
            df.iloc[0][i] = ('총 외부 공급 에너지')
        elif (df.columns[i][-3:] == '.17'):
            df.iloc[0][i] = ('외부공급(열)')
        elif (df.columns[i][-3:] == '.18'):
            df.iloc[0][i] = ('외부공급(전력)')
        elif (df.columns[i][-3:] == '.19'):
            df.iloc[0][i] = ('총 자체 사용 에너지')
        elif (df.columns[i][-3:] == '.20'):
            df.iloc[0][i] = ('자체사용(열)')
        elif (df.columns[i][-3:] == '.21'):
            df.iloc[0][i] = ('자체사용(전력)')

In [74]:
headers = df.iloc[0]
df  = pd.DataFrame(df.values[1:], columns=headers)
df = df.drop(df.index[0])
df = df.drop(df.index[0])

In [75]:
df

,시도(1),시설수 (개소),시설용량 (톤/일),1일평균가동시간 (시간),처리량 (톤),설치비 (계),설치비 (국비),설치비 (지방비),설치비 (기타),연간유지관리비 (백만원),...,설치비 (기타),연간유지관리비 (백만원),관리인원 (명),총 에너지 발생량,총 외부 공급 에너지,외부공급(열),외부공급(전력),총 자체 사용 에너지,자체사용(열),자체사용(전력)
2,합계,176,16081,19,3795612,3422440,679722,2153348,589371,355828,...,1058382,615664,3998,9519152,5258294,4791034,467260,5803402,3046237,2757165
3,서울,5,2898,21,718284,415823,61302,326821,27700,39870,...,27689,66693,315,1535848,1188031,1174613,13418,347818,328638,19180
4,부산,3,840,24,252262,111018,21036,75428,14554,11286,...,9269,13837,68,333766,244982,244982,0,88784,88784,0
5,대구,1,480,24,126811,72018,8201,63817,0,8514,...,7920,9081,49,169238,103068,100591,2477,66170,41124,25046
6,인천,9,957,12,264024,220161,75259,144232,670,18283,...,370,27308,57,265920,139253,123995,15258,126203,126203,0
7,광주,1,400,19,85679,74300,0,74300,0,6870,...,-,-,-,-,-,-,-,-,-,-
8,대전,1,400,24,102587,70613,21555,49058,0,8154,...,0,10491,42,222686,159705,159705,0,62981,62981,0
9,울산,1,400,24,108058,61552,18290,43262,0,8000,...,61300,11625,90,386717,181510,181510,0,205205,118205,87000
10,세종,-,-,-,-,-,-,-,-,-,...,0,2468,22,23177,0,0,0,23177,23177,0
11,경기,23,5215,22,1096629,1247841,173614,708879,365348,98902,...,539465,192531,1157,3257606,1887547,1857502,30045,3249545,1098394,2151151
12,강원,13,264,19,51655,62872,17619,39303,5950,9918,...,8649,27340,262,247710,30038,4477,25561,110271,68127,42144
13,충북,10,471,18,109358,163883,45845,118038,0,12013,...,500,25751,227,484037,201427,197376,4051,246905,225192,21713
14,충남,12,566,22,158028,141947,34521,79507,27919,22654,...,76496,53269,258,557202,291843,272962,18881,260622,249330,11292
15,전북,2,600,24,150255,177679,58256,73447,45976,6056,...,60258,14863,102,398656,175417,141275,34142,203329,152346,50983
16,전남,47,518,12,86134,127922,38478,72931,16514,15944,...,25011,26437,358,136502,44184,44184,0,72047,63095,8952
17,경북,23,380,16,87872,88669,26849,37403,24417,14694,...,174820,42191,345,416141,153521,18823,134698,271796,119924,151872
18,경남,18,1417,20,331670,316885,52038,204524,60323,65702,...,66635,64751,479,900446,405286,268391,136895,340129,233637,106492
19,제주,7,275,10,66307,69257,26859,42398,0,8968,...,0,27028,167,183500,52483,649,51834,128419,47080,81339

In [76]:
df = pd.melt(df, id_vars=('시도(1)'), value_vars=('시설수 (개소)', '시설용량 (톤/일)', '1일평균가동시간 (시간)', '처리량 (톤)',
       '설치비 (계)', '설치비 (국비)', '설치비 (지방비)', '설치비 (기타)', '연간유지관리비 (백만원)',
       '관리인원 (명)', '총 에너지 발생량', '총 외부 공급 에너지', '외부공급(열)', '외부공급(전력)',
       '총 자체 사용 에너지', '자체사용(열)', '자체사용(전력)'))


# , '잔재물 발생 현황', '잔재물(재활용)',
#        '잔재물(소각)', '잔재물(매각)', '잔재물(기타)'))

In [77]:

df[0].replace({'시설수 (개소)':'시설 수',
                          '시설용량 (톤/일)':'일별 시설용량(톤)',
                          '1일평균가동시간 (시간)':'1일평균가동시간',
                          '연간유지관리비 (백만원)':'연간유지관리비',
                          '관리인원 (명)':'관리인원',
                          },
                          inplace=True)

In [78]:
condition = df[0]=='시설 수'
df_temp_1 = df[condition].rename(columns={'value':'시설 수'}).drop(columns=[0]).set_index('시도(1)')

condition = df[0]=='일별 시설용량(톤)'
df_temp_2 = df[condition].rename(columns={'value':'일별 시설용량(톤)'}).drop(columns=[0]).set_index('시도(1)')

condition = df[0]=='1일평균가동시간'
df_temp_3 = df[condition].rename(columns={'value':'1일평균가동시간'}).drop(columns=[0]).set_index('시도(1)')

condition = df[0]=='처리량 (톤)'
df_temp_4 = df[condition].rename(columns={'value':'처리량 (톤)'}).drop(columns=[0]).set_index('시도(1)')

condition = df[0]=='설치비 (계)'
df_temp_5 = df[condition].rename(columns={'value':'설치비 (계)'}).drop(columns=[0]).set_index('시도(1)')

condition = df[0]=='설치비 (국비)'
df_temp_6 = df[condition].rename(columns={'value':'설치비 (국비)'}).drop(columns=[0]).set_index('시도(1)')

condition = df[0]=='설치비 (지방비)'
df_temp_7 = df[condition].rename(columns={'value':'설치비 (지방비)'}).drop(columns=[0]).set_index('시도(1)')
condition = df[0]=='설치비 (기타)'
df_temp_8 = df[condition].rename(columns={'value':'설치비 (기타)'}).drop(columns=[0]).set_index('시도(1)')
condition = df[0]=='연간유지관리비'
df_temp_9 = df[condition].rename(columns={'value':'연간유지관리비'}).drop(columns=[0]).set_index('시도(1)')
condition = df[0]=='관리인원'
df_temp_10 = df[condition].rename(columns={'value':'관리인원'}).drop(columns=[0]).set_index('시도(1)')
condition = df[0]=='총 에너지 발생량'
df_temp_11 = df[condition].rename(columns={'value':'총 에너지 발생량'}).drop(columns=[0]).set_index('시도(1)')
condition = df[0]=='총 외부 공급 에너지'
df_temp_12= df[condition].rename(columns={'value':'총 외부 공급 에너지'}).drop(columns=[0]).set_index('시도(1)')
condition = df[0]=='외부공급(열)'
df_temp_13 = df[condition].rename(columns={'value':'외부공급(열)'}).drop(columns=[0]).set_index('시도(1)')
condition = df[0]=='외부공급(전력)'
df_temp_14 = df[condition].rename(columns={'value':'외부공급(전력)'}).drop(columns=[0]).set_index('시도(1)')
condition = df[0]=='총 자체 사용 에너지'
df_temp_15 = df[condition].rename(columns={'value':'총 자체 사용 에너지'}).drop(columns=[0]).set_index('시도(1)')
condition = df[0]=='자체사용(열)'
df_temp_16 = df[condition].rename(columns={'value':'자체사용(열)'}).drop(columns=[0]).set_index('시도(1)')
condition = df[0]=='자체사용(전력)'
df_temp_17 = df[condition].rename(columns={'value':'자체사용(전력)'}).drop(columns=[0]).set_index('시도(1)')

# condition = df[0]=='잔재물 발생 현황'
# df_temp_18 = df[condition].rename(columns={'value':'잔재물 발생 현황'}).drop(columns=[0]).set_index('시도(1)')
# condition = df[0]=='잔재물(재활용)'
# df_temp_19 = df[condition].rename(columns={'value':'잔재물(재활용)'}).drop(columns=[0]).set_index('시도(1)')
# condition = df[0]=='잔재물(소각)'
# df_temp_20 = df[condition].rename(columns={'value':'잔재물(소각)'}).drop(columns=[0]).set_index('시도(1)')
# condition = df[0]=='잔재물(매각)'
# df_temp_21 = df[condition].rename(columns={'value':'잔재물(매각)'}).drop(columns=[0]).set_index('시도(1)')
# condition = df[0]=='잔재물(기타)'
# df_temp_22 = df[condition].rename(columns={'value':'잔재물(기타)'}).drop(columns=[0]).set_index('시도(1)')

In [79]:
df = pd.concat([df_temp_1, df_temp_2['일별 시설용량(톤)'], df_temp_3['1일평균가동시간'], df_temp_4['처리량 (톤)'], df_temp_5['설치비 (계)'], 
                df_temp_6['설치비 (국비)'], df_temp_7['설치비 (지방비)'], df_temp_8['설치비 (기타)'], df_temp_9['연간유지관리비'], df_temp_10['관리인원'],
                df_temp_11['총 에너지 발생량'], df_temp_12['총 외부 공급 에너지'], df_temp_13['외부공급(열)'], df_temp_14['외부공급(전력)'], df_temp_15['총 자체 사용 에너지'],
                df_temp_16['자체사용(열)'], df_temp_17['자체사용(전력)']],axis=1)

In [80]:
df = df.reset_index()
df = df.rename(columns={'시도(1)':'시도'})
year = 2010
for i in range(18,len(df)+18):
    df.loc[i-18,'연도'] = str(year)
    if i % 18 == 17:
        year +=1

In [81]:
df = df.drop(index=df[df['시도']=='합계'].index)
df = df.drop(['총 외부 공급 에너지','총 자체 사용 에너지','총 에너지 발생량','설치비 (계)'],axis=1)

In [82]:
df['시도'].replace(dic,inplace=True)

In [83]:
df

,시도,시설 수,일별 시설용량(톤),1일평균가동시간,처리량 (톤),설치비 (국비),설치비 (지방비),설치비 (기타),연간유지관리비,관리인원,외부공급(열),외부공급(전력),자체사용(열),자체사용(전력),연도
1,서울특별시,5,2898,21,718284,61302,326821,27700,39870,228,1363015,8245,280493,17202,2010
2,부산광역시,3,840,24,252262,21036,75428,14554,11286,106,285412,0,222577,24710,2010
3,대구광역시,1,480,24,126811,8201,63817,0,8514,46,167144,1535,74513,39289,2010
4,인천광역시,9,957,12,264024,75259,144232,670,18283,185,156997,0,334214,0,2010
5,광주광역시,1,400,19,85679,0,74300,0,6870,49,40978,0,21993,97228,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,전라북도,3,612,24,141304,23311,18403,60258,14863,102,141275,34142,152346,50983,2019
176,전라남도,53,503,11,129952,57371,92828,25011,26437,358,44184,0,63095,8952,2019
177,경상북도,18,1215,22,230654,157040,134840,174820,42191,345,18823,134698,119924,151872,2019
178,경상남도,17,1554,24,443735,180118,274800,66635,64751,479,268391,136895,233637,106492,2019
179,제주특별자치도,6,776,15,89891,97929,115543,0,27028,167,649,51834,47080,81339,2019

In [86]:
df.to_csv('./data/지방자치단체_폐기물_처리시설_현황_소각시설(10-19).csv',encoding='UTF-8-sig')

#### 1.5.1 매립시설 data

In [87]:
for i in range(1, 131):
    if (df2.columns[i][-2:] == '.7'):
        df2.iloc[0][i] = ('설치비 (계)')
    elif (df2.columns[i][-2:] == '.8'):
       df2.iloc[0][i] = ('설치비 (국비)')
    elif (df2.columns[i][-2:] == '.9'):
        df2.iloc[0][i] = ('설치비 (지방비)')
    elif (df2.columns[i][-3:] == '.10'):
       df2.iloc[0][i] = ('설치비 (기타)')

In [88]:
headers = df2.iloc[0]
df2  = pd.DataFrame(df2.values[1:], columns=headers)
df2 = df2.drop(df2.index[0])

In [89]:
df = pd.melt(df2, id_vars=('시도(1)'), value_vars=('매립지수 (개소)','총매립지 면적 (m²)', '총매립 용량 (m³)','기매립량(전년도 매립량 포함) (m³)', '잔여매립가능량 (m³)','매립량 (m³)','매립량 (톤)','설치비 (계)','설치비 (국비)','설치비 (지방비)','설치비 (기타)','연간유지관리비 (백만원)',
'매립지 관리인원 (명)'))
# variable 값 통일
df[0].replace({'매립지수 (개소)':'매립지 수',
                          '총매립지 면적 (m²)':'총매립지 면적',
                          '총매립 용량 (m³)':'총매립 용량',
                          '기매립량(전년도 매립량 포함) (m³)':'기매립량', 
                          '잔여매립가능량 (m³)':'잔여매립가능량',
                          '매립량 (m³)':'매립량(m³)',
                          '매립량 (톤)':'매립량(톤)',
                          '설치비 (계)':'설치비 (계)',
                          '설치비 (국비)':'설치비 (국비)',
                          '설치비 (지방비))':'설치비 (지방비)',
                          '설치비 (기타))':'설치비 (기타)',
                          '연간유지관리비 (백만원)':'연간유지관리비',
                          '매립지 관리인원 (명)':'매립지 관리인원',
                          },
                          inplace=True)

In [90]:
condition = df[0]=='매립지 수'
df_temp_1 = df[condition].rename(columns={'value':'매립지 수'}).drop(columns=[0]).set_index('시도(1)')

condition = df[0]=='총매립지 면적'
df_temp_2 = df[condition].rename(columns={'value':'총매립지 면적'}).drop(columns=[0]).set_index('시도(1)')

condition = df[0]=='총매립 용량'
df_temp_3 = df[condition].rename(columns={'value':'총매립 용량'}).drop(columns=[0]).set_index('시도(1)')

condition = df[0]=='기매립량'
df_temp_4 = df[condition].rename(columns={'value':'기매립량'}).drop(columns=[0]).set_index('시도(1)')

condition = df[0]=='잔여매립가능량'
df_temp_5 = df[condition].rename(columns={'value':'잔여매립가능량'}).drop(columns=[0]).set_index('시도(1)')

condition = df[0]=='매립량(m³)'
df_temp_6 = df[condition].rename(columns={'value':'매립량(m³)'}).drop(columns=[0]).set_index('시도(1)')

condition = df[0]=='매립량(톤)'
df_temp_7 = df[condition].rename(columns={'value':'매립량(톤)'}).drop(columns=[0]).set_index('시도(1)')
condition = df[0]=='설치비 (계)'
df_temp_8 = df[condition].rename(columns={'value':'설치비 (계)'}).drop(columns=[0]).set_index('시도(1)')
condition = df[0]=='설치비 (국비)'
df_temp_9 = df[condition].rename(columns={'value':'설치비 (국비)'}).drop(columns=[0]).set_index('시도(1)')
condition = df[0]=='설치비 (지방비)'
df_temp_10 = df[condition].rename(columns={'value':'설치비 (지방비)'}).drop(columns=[0]).set_index('시도(1)')
condition = df[0]=='설치비 (기타)'
df_temp_11 = df[condition].rename(columns={'value':'설치비 (기타)'}).drop(columns=[0]).set_index('시도(1)')
condition = df[0]=='연간유지관리비'
df_temp_12= df[condition].rename(columns={'value':'연간유지관리비'}).drop(columns=[0]).set_index('시도(1)')
condition = df[0]=='매립지 관리인원'
df_temp_13 = df[condition].rename(columns={'value':'매립지 관리인원'}).drop(columns=[0]).set_index('시도(1)')
df = pd.concat([df_temp_1, df_temp_2['총매립지 면적'], df_temp_3['총매립 용량'], df_temp_4['기매립량'], df_temp_5['잔여매립가능량'], 
                df_temp_6['매립량(m³)'], df_temp_7[ '매립량(톤)'], df_temp_8['설치비 (계)'], df_temp_9['설치비 (국비)'], df_temp_10['설치비 (지방비)'],
                df_temp_11['설치비 (기타)'], df_temp_12['연간유지관리비'], df_temp_13['매립지 관리인원']], axis=1)
df = df.reset_index()
df = df.rename(columns={'시도(1)':'시도'})
year = 2010
for i in range(17,len(df)+17):
    df.loc[i-17,'연도'] = str(year)
    if i % 17 == 16:
        year +=1

In [91]:
df = df.drop(index=df[df['시도']=='합 계'].index)
df = df.drop(['설치비 (계)'],axis=1)

In [92]:
df['시도'].replace(dic,inplace=True)

In [93]:
df

,시도,매립지 수,총매립지 면적,총매립 용량,기매립량,잔여매립가능량,매립량(m³),매립량(톤),설치비 (국비),설치비 (지방비),설치비 (기타),연간유지관리비,매립지 관리인원,연도
1,부산광역시,1,747922,24494000,12781728,11712272,310994,279895,88663,275139,0,3741,48,2010
2,대구광역시,1,585334,9224941,9040442,184499,51979,103958,0,23168,0,6539,55,2010
3,인천광역시,5,19793391,262536679,110562944,151973735,3845186,3762466,2400,375812,0,275320,220,2010
4,광주광역시,2,263966,2924906,2634605,290301,233269,675548,28138,62356,2050,3015,39,2010
5,대전광역시,1,680256,8762063,6576696,2185367,249500,249500,8043,146115,0,4668,41,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,전라북도,13,824184,8688939,7315125,1373814,212112,194865,65490,130454,642,5178,80,2019
166,전라남도,62,1393247,18924810,12319507,6605303,401217,263391,126716,197889,41026,14624,241,2019
167,경상북도,33,1036089,15848095,8575382,7272713,353382,238994,103427,244105,550,14819,182,2019
168,경상남도,25,1511712,23926134,13672646,10253488,586586,364811,84311,279923,14565,12759,124,2019
169,제주특별자치도,10,460684,5832037,3420040,2411997,46731,75118,21317,48527,0,9966,34,2019

In [94]:
df.to_csv('./data/지방자치단체_폐기물_처리시설_현황_매립시설(10-19).csv',encoding='UTF-8-sig')